{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <img src="{{ .Params.image | relURL }}" class="img-fluid w-100">
      </div>
    </div>
    <h2>{{ .Title }}</h2>
    <div class="row align-items-center mb-4">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="mdi mdi-calendar-today-outline text-primary icon-md me-2"></i>
              <div class="text-start">
                <h6 class="mb-0">{{ i18n "schedule" | upper }}</h6>
                <p class="mb-0">{{ .Params.schedule }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="mdi mdi-timer-sand text-primary icon-md me-2"></i>
              <div class="text-start">
                <h6 class="mb-0">{{ i18n "duration" | upper }}</h6>
                <p class="mb-0">{{ .Params.duration }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="mdi mdi-crowd text-primary icon-md me-2"></i>
              <div class="text-start">
                <h6 class="mb-0">{{ i18n "class" | upper }}</h6>
                <p class="mb-0">{{ .Params.class }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="mdi mdi-map-marker-radius-outline text-primary icon-md me-2"></i>
              <div class="text-start">
                <h6 class="mb-0">{{ i18n "room" | upper }}</h6>
                <p class="mb-0">{{ .Params.room }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<section class="section-sm pt-0" data-pagefind-ignore="all">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "related_clubs" }}</h2>
      </div>
    </div>
    <div class="row">
      {{ $related := (where .Site.RegularPages "Type" "ganztagsangebote") | intersect (where .Site.Pages ".Title" "!=" .Title) | union (.Site.RegularPages.Related . ) | shuffle | first 3}}
      {{ range first 3 $related }}
        <div class="col-lg-4 col-sm-6">
          {{ .Render "ganztag"}}
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
