{{ define "main" }}

<main data-pagefind-body>
<section class="section">
  <div class="container">
    <img src="{{ .Params.image | relURL }}" class="img-fluid w-100 mb-4">
    <h2 class="mb-4">{{ .Title }}</h2>
    <div class="row mb-4">
      {{ partial "icon-element" (dict "size" 3 "icon" "mdi-calendar-today-outline" "title" "Zeit" "content" .Params.schedule) }}
      {{ partial "icon-element" (dict "size" 3 "icon" "mdi-timer-sand" "title" "Dauer" "content" .Params.duration) }}
      {{ partial "icon-element" (dict "size" 3 "icon" "mdi-crowd" "title" "Klassen" "content" .Params.class) }}
      {{ partial "icon-element" (dict "size" 3 "icon" "mdi-map-marker-radius-outline" "title" "Raum" "content" .Params.room) }}
    </div>
    <hr class="mb-4">
    <div class="content text-justify">
        {{ .Content }}
    </div>
  </div>
</section>

<section class="section pt-0" data-pagefind-ignore="all">
  <div class="container">
    <h2 class="mb-4">Andere Arbeitsgemeinschaften</h2>
    <div class="row">
      {{ range partial "related" . }}
        <div class="col-lg-4 col-sm-6">
          {{ partial "ganztag" . }}
        </div>
      {{ end }}
    </div>
  </div>
</section>
</main>

{{ end }}
