Chiamaka Michelle Okoro <amakaokoro07@gmail.com>
Denys Konovalov <kontakt@denyskon.de>
Dominic Winzer <dominicwinzer@web.de>
Felix Berger <jan.felix.berger@gmx.de>
Lilli Berthold <lilli.berthold@outlook.de>
Lilly Meißner <hebu2007@web.de>
Soeren Pflug <soeren.pflug@gmail.com>
Timm Rockel <timmrockel@gmail.com>
