/*  typography */
@import url('https://assets.cantorgymnasium.de/fonts/fira/fira.css');
body {
  line-height: 1.2;
  font-family: var(--gcg-font-primary);
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: var(--bs-secondary-color);
}

p, .paragraph {
  font-weight: 400;
  color: var(--bs-secondary-color);
  font-size: 15px;
  line-height: 1.9;
  font-family: var(--gcg-font-primary);
}

.text-white p {
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--gcg-color-secondary);
  font-family: var(--gcg-font-header);
  font-weight: 900;
  line-height: 1.2;
}

h1, .h1{
  font-size: 60px;
  @include mobile {
    font-size: 45px;
  }
}

h2, .h2{
  font-size: 35px;
  @include mobile {
    font-size: 30px;
  }
}

h3, .h3{
  font-size: 25px;
  @include mobile {
    font-size: 20px;
  }
}

h4, .h4{
  font-size: 20px;
  @include mobile {
    font-size: 18px;
  }
}

h5, .h5{
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

h6, .h6{
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}
