{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <img class="img-fluid w-75" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
      </div>
      <div class="col-md-7 mb-5">
        <h3>{{ .Params.Name }}</h3>
        <h6 class="text-body-secondary">{{ .Title }}</h6>
        <div class="content">
          {{ .Content | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
