{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="row">
          {{ $paginator := .Paginate ( where .Data.Pages "Type" "post") }}
          {{ range $paginator.Pages }}
          <div class="col-md-6 d-flex align-items-stretch">
            {{ .Render "card" }}
          </div>
          {{ end }}
          <div class="col-12 mt-4">
            {{ partial "pagination" . }}
          </div>
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}
