<article class="card rounded-0 border-primary hover-shadow">
  <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  <div class="card-body">
    <ul class="list-inline mb-3">
      <li class="list-inline-item mr-3 ml-0"><i class="mdi mdi-calendar-today"></i> {{ time.Format "02. Jan 2006" .PublishDate }}</li>
      <li class="list-inline-item mr-3 ml-0"><i class="mdi mdi-fountain-pen-tip"></i> <a
        href="{{ `author` | relLangURL }}/{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></li>
    </ul>
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title | truncate 20 }}</a></h4>
    <p class="card-text">{{ .Summary | truncate 100 }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm" data-pagefind-ignore>{{ i18n "read_more" }}</a>
  </div>
</article>
