{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="row">
          <div class="col-12 mb-4">
            <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
          </div>
          <div class="col-12">
            <div class="row mb-3">
              <div class="col-6 mb-md-0 text-light">
                <span class="fw-bold me-1">{{ i18n "posted_by" }}:</span>
                {{ range $index, $elements := where (where .Site.RegularPages "Type" "author") "File.BaseFileName" "in" .Params.author  }}
                  {{ if ne $index 0 }}, {{ end }}
                  {{ if .Params.simplified }}
                    {{ .Title }}
                  {{ else }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  {{ end }}
                {{ end }}
              </div>
              <div class="col-6 mb-3 mb-md-0 text-light">
                <span class="fw-bold me-1">{{ i18n "date" }}:</span>
                {{ time.Format "02. Jan 2006" .PublishDate }}
              </div>
          </div>
          <div class="row">
            <div class="col-12 mb-md-0 text-light">
              <span class="fw-bold me-1">{{ i18n "category" }}:</span>
              {{ range $index, $elements := .Params.categories }}
                {{ if ne $index 0 }}, {{ end }}
                <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | title }}</a>
              {{ end }}
              </div>
            </div>
          </div>
          <div class="col-12 my-4">
            <div class="border-bottom"></div>
          </div>
          <div class="col-12 mb-5 content content-justify">
            {{ .Content }}
          </div>
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}
