{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100 mb-4">
        <div class="d-flex flex-wrap gap-2 justify-content-between">
          <div class="text-body-secondary">
            <span class="fw-bold me-1">Geschrieben von:</span>
            {{ partial "authors" (dict "Site" .Site "author" .Params.author )}}
          </div>
          <div class="text-body-secondary">
            <span class="fw-bold me-1">Datum:</span>
            {{ time.Format "02. Jan 2006" .PublishDate }}
          </div>
          <div class="text-body-secondary">
              <span class="fw-bold me-1">Kategorien:</span>
              {{ range $index, $elements := .Params.categories }}
                {{ if ne $index 0 }}, {{ end }}
                <a href="{{ `categories/` | relURL }}{{ . | urlize | lower }}">{{ . | title }}</a>
              {{ end }}
          </div>
        </div>
        <div class="my-4">
          <div class="border-bottom"></div>
        </div>
        <div class="mb-4 content text-justify">
          {{ .Content }}
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}
