{{ define "main" }}

<section class="section" data-pagefind-body>
  <div class="container">
    <div class="tag-list">
      {{ $transliterations := site.Data.transliterations.transliterations }}
		  {{ range $name, $items := .Data.Terms }}
        {{ if eq $.Data.Plural "tags" }}
          <a href="{{ `tags/` | relURL }}{{ $name | urlize | lower }}">{{ $name }}</a>
        {{ else if eq $.Data.Plural "categories" }}
          <a href="{{ `categories/` | relURL }}{{ $name | urlize | lower }}">{{ if (index $transliterations $name) }}{{ index $transliterations $name }}{{ else }}{{ $name | title }}{{end}}</a>
        {{ end }}
		  {{ end }}
	  </div>
  </div>
</section>

{{ end }}