{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.Image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="about image">
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ if $data.homepage.zahlen.enable }}
{{ with $data.homepage.zahlen }}
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      {{ range .zahl_element }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-white" data-count="{{ .count }}">0</h2>
          <h5 class="text-white">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ partial "info.html" . }}

{{ end }}
