{{ define "main" }}

<main data-pagefind-body>
<section class="section">
  <div class="container">
    {{ with .Params.image }}
      <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="Foto der Schule">
    {{ end }}
    <div class="content text-justify">
      {{ .Content }}
    </div>
  </div>
</section>

{{ if .Params.stats.enable }}
{{ with .Params.stats }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      {{ range .zahlen }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h2 class="count text-secondary" data-count="{{ .count }}">0</h2>
          <h5 class="text-secondary">{{ .name }}</h5>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ partial "info" . }}
</main>

{{ end }}
