{{ define "main" }}

<section class="section">
  <div class="container">
    {{ range .Data.Pages }}
      <div class="card flex-row border-primary hover-shadow p-4 mb-2 align-items-center flex-wrap gap-3">
        <div class="flex-grow-1">
          <a href="{{ .Permalink }}" class="h4 mb-3 card-title">{{ .Title }}</a>
          <p class="mb-0">{{ partial "summary" .Content }}</p>
        </div>
        <div class="flex-shrink-0" data-pagefind-ignore><a href="{{ .Permalink }}" class="btn btn-primary">Mehr anzeigen</a></div>
      </div>
    {{ end }}
  </div>
</section>

{{ end }}
