{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-50 content">
        {{ range .Params.files }}
          <div class="container mb-0">
            <div class="card border-primary rounded-0 hover-shadow mb-4">
              <div class="card-body mb-0">
                <h4 class="card-title"><a class="text-decoration-none" href='{{ .link }}'>{{ .title }}</a></h4>
                <a href='{{ .link }}' class="text-decoration-none btn btn-primary btn-sm mb-0"><i class="mdi mdi-tray-arrow-down mb-0"></i> Download</a>
              </div>
            </div>
          </div>        
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
