<div class="card border-primary rounded-0 hover-shadow mb-2">
  <a href="{{ .Permalink }}"><img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}"></a>
  <div class="card-body d-flex flex-column">
    <div class="d-flex justify-content-between gap-1 flex-wrap mb-2">
      <span>
        {{ partial "mdi" "calendar-today"}}
        <span class="ms-2">{{ time.Format "02. Jan 2006" .PublishDate }}</span>
      </span>
      <span class="text-truncate">
        {{ partial "mdi" "fountain-pen-tip" }}
        <span class="ms-2">{{ partial "authors" (dict "Site" .Site "author" .Params.author )}}</span>
      </span>
    </div>
    <h4 class="card-title text-truncate"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ partial "summary" .Summary }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm mt-auto align-self-start" data-pagefind-ignore>Mehr anzeigen</a>
  </div>
</div>
