<section class="section">
  <div class="container">
    {{ if (and .Params.image (ne .Params.image "/media/image.webp") ) }}
    <div class="row">
      <div class="col-12 mb-4">
        <img class="img-fluid w-100" src="{{ .Params.image | relURL }}">
      </div>
    </div>
    {{ end }}
    <div class="row mb-4">
      <div class="col-7">
        <div class="d-flex align-items-center">
          <i class="mdi mdi-crowd text-primary icon-md me-2"></i>
          <div class="text-start">
            <h6 class="mb-0">{{ i18n "class" | upper }}</h6>
            <p class="mb-0">{{ .Params.class }}</p>
          </div>
        </div>
      </div>
      {{ if .Params.web_url }}
      <div class="col-5 text-end mb-4 mb-xl-0">
        <a href="{{ .Params.web_url | safeURL }}" class="btn btn-primary">{{ i18n "website" }}</a>
      </div>
      {{ end }}
      <div class="col-12 mt-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>