<header class="fixed-top header" data-pagefind-ignore>
  {{ if .Site.Params.top_header }}
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-4 text-center text-lg-start">
          <ul class="list-inline">
            {{ range .Site.Params.social }}
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-body-secondary" href="{{ .link | safeURL }}">
              {{ partial "mdi" .icon }}
            </a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-end">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-body-secondary me-3" href="tel:{{ .Site.Params.mobile }}">
                <strong class="text-uppercase">Telefon:</strong> {{ .Site.Params.mobile }}
              </a>
            </li>
            <li class="list-inline-item">
              <a class="text-body-secondary" href="mailto:{{ .Site.Params.email }}">
                <strong class="text-uppercase">E-Mail:</strong> {{ replace .Site.Params.email_label "(at)" (partial "mdi" "at") | safeHTML }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-xl navbar-dark p-0">
        
        <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}"><img height="60"
            src="{{ .Site.Params.logo | absURL }}" class="py-2" alt="{{ .Site.Title }}"></a>
        <button class="navbar-toggler rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navigation">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ .Site.BaseURL | absURL }}">Startseite</a>
            </li>
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                {{ .Name }}
              </a>
              <ul class="dropdown-menu">
                {{ range .Children }}
                <li><a class="dropdown-item text-uppercase" href="{{ .URL | absURL }}" target="{{ if .Params.External }}_blank{{ else }}_self{{end}}">{{ .Name }}</a></li>
                {{ if .Params.separator }}
                <hr class="dropdown-divider">
                {{ end }}
                {{ end }}
              </ul>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
            <li class="nav-item">
              <div class="nav-link nav-search" onclick="$('#pagefind-search').modal('show');">{{ partial "mdi" "magnify" }}Suche</div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <noscript>
    <style>
      .navigation {
        background-color: #1a1a37;
      }
    </style>
  </noscript>
</header>

{{ $top_banner := .Site.Data.homepage.top_banner }}
  {{ if and $top_banner.enable }}
  {{ if or (not $top_banner.temporarily.enable) (and $top_banner.temporarily.enable (and (le ($top_banner.temporarily.start_date | time.AsTime) now) (ge ($top_banner.temporarily.end_date | time.AsTime) now))) }}
  {{ with $top_banner }}
  <div id="top-banner" class="p-3" style="background: {{ .color }}" data-pagefind-ignore>
    <div class="container">
      <div class="no-gutters align-items-center">
        <div style="color: {{ .font_color }}"><b>{{ partial "mdi" .icon }} {{ .text | markdownify }}</b></div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
{{ end }}

<div id="pagefind-search" class="modal fade" data-pagefind-ignore>
  <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="search"></div>
      </div>
    </div>
  </div>
</div>