<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`media/titelbild.webp`| relURL}}');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 position-relative" data-pagefind-body>
        <ul class="list-inline">
          <li class="list-inline-item h2" data-pagefind-ignore><a class="text-primary font-header" href="{{ if .Params.Previous.enable }}{{ .Params.Previous.link }}{{ else if .Parent.Page }}{{ .Parent.Page.Permalink }}{{ else }}{{ .Site.baseURL | absURL }}{{ end }}">{{ if .Params.previous.enable }}{{ .Params.previous.title }}{{ else }}{{ with .Parent.Params.title }}{{.}}{{ else }}Startseite{{ end }}{{ end }}</a></li>
          <li class="list-inline-item h2"><i class="mdi mdi-chevron-double-right text-white"></i></li>
          <li class="list-inline-item text-white h2 font-header" data-pagefind-weight="10">{{ .Title }}</li>
        </ul>
        <p class="text-white text-opacity-75">{{ .Params.description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
