<div class="card hover-shadow border-primary mb-4 p-0">
  <div class="row g-0">
    <div class="col-md-3 text-center p-4 bg-primary text-white rounded">
      <div class="h2">{{ time.Format "2" .date}}</div>
      <div>{{ time.Format "Jan 2006" .date}}</div>
      {{ with .enddate }}<br>bis {{ time.Format "2 Jan 2006" . }}{{ end }}
    </div>
    <div class="col-md-9">
      <div class="card-body h-100 d-flex flex-column justify-content-around">
        <h4 class="card-title">{{ .title }}</h4>
        {{ with .location }}
        <div class="card-text">
          <i class="mdi mdi-map-marker-radius-outline icon-s text-primary me-2"></i>{{ . | markdownify }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>