<section class="section superhaufen">
  <div class="container">
    <div class="content text-justify">
      {{ .Content }}
    </div>
  </div>
  <div class="container">
    {{ partial "filter-controls" . }}
    <div class="filter-container row">
      {{ range .Params.tiles }}
        {{ partial "modal" . }}
        <div class="col-lg-4 col-sm-6 filter-item" data-groups="{{ .category | urlize }}">
          <div class="card border-primary rounded-0 hover-shadow mb-4">
            {{ if and .image (ne .image "/media/image.webp") }}
              <img class="card-img-top rounded-0" src="{{ .image | relURL }}">
            {{ else }}
              <div class="container fb-tile-color" style="background-color:{{ .bg_color }};">
                <span class="fb-tile-icon" style="color: {{ .font_color }}">{{ partial "mdi" .icon }}</span>
              </div>
            {{ end }}
            <div class="card-body">
              <h4 class="card-title text-truncate">{{ .title }}</h4>
              <button type="button" class="btn btn-primary btn-sm" onclick="$('#{{ md5 .title }}').modal('show');" data-pagefind-ignore>Mehr anzeigen</button>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    <div class="filter-sizer col-1"></div>
  </div>
</section>