<section class="section superhaufen">
  <div class="container">
    <div class="row">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{ range .Params.tiles }}
        {{ partial "modal" . }}
        <div class="col-lg-4 col-sm-6">
			<div class="card border-primary rounded-0 hover-shadow mb-4">
				<div class="container fb-tile-color" style="background-color:{{ .bg_color }};">
					<i class="{{ .icon }} fb-tile-icon" style="color: {{ .font_color }}"></i>
				</div>
				<div class="card-body">
					<h4 class="card-title text-truncate">{{ .title }}</h4>
					<button type="button" class="btn btn-primary btn-sm" onclick="$('#{{ md5 .title }}').modal('show');" data-pagefind-ignore>Mehr anzeigen</button>
				</div>
			</div>
		</div>
      {{ end }}
    </div>
  </div>
</section>