{{ define "main" }}

<section class="section">
  <div class="container">
    {{ range .Pages }}
    <div class="card mb-4">
      <div class="d-flex">
        <div class="flex-shrink-0">
          {{ if .Params.image }}
          <img class="rounded-circle m-3 object-cover" src="{{.Params.image | relURL }}" width="128px" height="128px">
          {{ else if .Params.email }}
          <img class="rounded-circle img-fluid m-3"
            src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
          {{ end }}
        </div>
        <div class="flex-grow">
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ partial "summary" .Content }}</p>
            {{ if not .Params.simplified }}
            <a href="{{ .Permalink }}" class="btn btn-primary">Mehr anzeigen</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}