{{ define "main" }}

{{ partial "header-cl-url" (dict "Params" .Params "Content" .Content) }}


<section class="section-sm pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ i18n "related_begabtenfoerderung" }}</h2>
      </div>
    </div>
    <div class="row" data-pagefind-ignore="all">
      {{ $related := (where .Site.RegularPages "Type" "begabte") | intersect (where .Site.Pages ".Title" "!=" .Title) | union (.Site.RegularPages.Related . ) | shuffle | first 3}}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-sm-6">
        {{ .Render "card-btn"}}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
