{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="content">
      {{ .Content }}
    </div>
    <div class="row">
      {{ range .Params.elements }}
      <div class="col-lg-6 col-sm-6 mb-4 d-flex align-items-stretch">
        <div class="card rounded-0 hover-shadow border-primary">
          <div class="card-body">
            <h4 class="card-title mb-3">{{ .title }}</h4>
            <div class="content">{{ .content | markdownify }}</div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
