{{ define "main" }}

<section class="section-sm bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <form action="https://php.cantorgymnasium.de/formtools/process.php" method="post" enctype="multipart/form-data">
          <input type="hidden" name="form_tools_form_id" value="5" />
          <div hidden>
            <input type="text" name="bad_email" value="" />
          </div>
          <div class="input-group">
            <input type="text" class="form-control mb-3" id="surname" name="visitor_surname" placeholder="Name (Schüler/in)" required>
            <input type="text" class="form-control mb-3" id="name" name="visitor_name" placeholder="Vorname" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Geburtsdatum</span>
            <input type="date" class="form-control" id="birthday" name="visitor_birthday" min="2005-01-01" required>
          </div>
          <input type="text" class="form-control mb-3" id="street" name="street" placeholder="Straße" required>
          <div class="input-group">
            <input type="text" class="form-control mb-3" id="house" name="house" placeholder="Hausnummer" required>
            <input type="text" class="form-control mb-3" id="adresszusatz" name="adresszusatz" placeholder="Adresszusatz">
          </div>
          <div class="input-group">
            <input type="text" inputmode="numeric" class="form-control mb-3" id="zipcode" name="zipcode" placeholder="PLZ" pattern="[0-9]{5}" title="Postleitzahlen bestehen aus exakt 5 Ziffern" required>
            <input type="text" class="form-control mb-3" id="city" name="city" placeholder="Stadt" required> 
          </div>
          <input type="text" class="form-control mb-3" id="landkreis" name="landkreis" placeholder="Landkreis">
          <div class="input-group">
            <input type="tel" class="form-control mb-3" id="tpriv" name="tpriv" placeholder="Telefon privat">
            <input type="tel" class="form-control mb-3" id="tdienstl" name="tdienstl" placeholder="Telefon dienstl.">
          </div>
          <input type="text" class="form-control mb-3" id="dpname" name="dpname" placeholder="Abweichender Elternname">
          <input type="text" class="form-control mb-3" id="grundschule" name="grundschule" placeholder="Grundschule" required>
          <input type="email" class="form-control mb-3" id="mail" name="visitor_email" placeholder="Ihre E-Mail Adresse" required>
          <textarea name="visitor_message" id="message" class="form-control mb-3" placeholder="Bemerkungen"></textarea>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="zeugnis_1" name="zeugnis_1" accept="image/*,.pdf">
            <span class="input-group-text">Zeugnis (Vorderseite)</span>
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="zeugnis_2" name="zeugnis_2" accept="image/*,.pdf">
            <span class="input-group-text">Zeugnis (Rückseite)</span>
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="slbe" name="slbe" accept="image/*,.pdf">
            <span class="input-group-text">Schullaufbahnempfehlung</span>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text">
              <input type="checkbox" class="form-check-input" id="accept" name="accept" required>
            </div>
            <p class="form-control mb-0">Hiermit melden wir unser Kind verbindlich zur Aufnahmeprüfung an.</p>
          </div>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
      <div class="col-lg-4">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
