{{ define "main" }}

<section class="section" data-pagefind-body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <form action="https://forms.cantorgymnasium.de/form/gcg-aufnahmeformular" method="post" enctype="multipart/form-data">
          <div hidden>
            <input type="text" id="bad_email" name="bad_email" value="" />
          </div>
          <div class="input-group">
            <input type="text" class="form-control mb-3" id="student_surname" name="student_surname" placeholder="Name (Schüler/in)" required>
            <input type="text" class="form-control mb-3" id="student_name" name="student_name" placeholder="Vorname" required>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="student_sex" name="student_sex" placeholder="Geschlecht" required>
            <span class="input-group-text">Geburtsdatum</span>
            <input type="date" class="form-control" id="student_birthday" name="student_birthday" min="2005-01-01" required>
          </div>
          <input type="text" class="form-control mb-3" id="street" name="street" placeholder="Straße" required>
          <div class="input-group">
            <input type="text" class="form-control mb-3" id="house" name="house" placeholder="Hausnummer" required>
            <input type="text" class="form-control mb-3" id="adresszusatz" name="adresszusatz" placeholder="Adresszusatz">
          </div>
          <div class="input-group">
            <input type="text" inputmode="numeric" class="form-control mb-3" id="zipcode" name="zipcode" placeholder="PLZ" pattern="[0-9]{5}" title="Postleitzahlen bestehen aus exakt 5 Ziffern" required>
            <input type="text" class="form-control mb-3" id="city" name="city" placeholder="Stadt" required> 
          </div>
          <input type="text" class="form-control mb-3" id="landkreis" name="landkreis" placeholder="Landkreis">
          <div class="input-group">
            <input type="tel" class="form-control mb-3" id="tpriv" name="tpriv" placeholder="Telefon privat">
            <input type="tel" class="form-control mb-3" id="tdienstl" name="tdienstl" placeholder="Telefon dienstl.">
          </div>
          <div class="input-group">
            <select class="form-control" name="anrede_1" id="anrede_1" required>
              <option value="keine Angabe">keine Angabe</option>
              <option value="Herr">Herr</option>
              <option value="Frau">Frau</option>
            </select>
            <input type="text" class="form-control" id="parent_name_1" name="parent_name_1" placeholder="Nachname (Erziehungsberechtigter 1)" required>
          </div>
          <div class="input-group mb-3">
            <select class="form-control" name="anrede_2" id="anrede_2">
              <option value="keine Angabe">keine Angabe</option>
              <option value="Herr">Herr</option>
              <option value="Frau">Frau</option>
            </select>
            <input type="text" class="form-control" id="parent_name_2" name="parent_name_2" placeholder="Nachname (Erziehungsberechtigter 2)">
          </div>
          <input type="text" class="form-control mb-3" id="grundschule" name="grundschule" placeholder="Grundschule" required>
          <input type="email" class="form-control mb-3" id="parent_email" name="parent_email" placeholder="Ihre E-Mail-Adresse" required>
          <textarea id="message" name="message" class="form-control mb-3" placeholder="Bemerkungen"></textarea>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="zeugnis_1" name="zeugnis_1" accept="image/*,.pdf">
            <span class="input-group-text">Zeugnis (Vorderseite)</span>
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="zeugnis_2" name="zeugnis_2" accept="image/*,.pdf">
            <span class="input-group-text">Zeugnis (Rückseite)</span>
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="slbe" name="slbe" accept="image/*,.pdf">
            <span class="input-group-text">Schullaufbahnempfehlung</span>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-text">
              <input type="checkbox" class="form-check-input" id="accept" name="accept" required>
            </div>
            <p class="form-control mb-0">Hiermit melden wir unser Kind verbindlich zur Aufnahmeprüfung an.</p>
          </div>
          <button type="submit" value="send" class="btn btn-primary">Senden</button>
        </form>
      </div>
      <div class="col-lg-4">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
