<div class="row">
  {{ $dir := trim (.Get "dir") "/" }}
  {{ with $dir }}
    {{ $files := readDir (print "/static/" .) }}
	{{ range $files }}
	  {{ $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp|webp|avif|jxl)" }}
	  {{ if $isimg }}
	    {{ $linkURL := print (trim $.Site.BaseURL "/") "/" $dir "/" .Name | absURL }}
	    <div class="col-lg-3 col-md-4 col-sm-6">
		  <a class="vb-gallery" data-gall="{{ md5 $dir }}" href="{{ $linkURL }}"><img class="lazy img-thumbnail w-100 h-100" style="object-fit: cover;" data-src="{{ $linkURL }}"></a>
	    </div>
	  {{ end }}
    {{ end }}
  {{ end }}
</div>