{{ define "main" }}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

<style>
#map {
  height: 500px;
  border: 1px solid #aaa;
  border-radius: 15px;
}
</style>

<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="https://php.cantorgymnasium.de/formtools/process.php" method="post">
          <input type="hidden" name="form_tools_form_id" value="2" />
          <div style="display:none">
            <input type="text" name="bad_email" value="" />
          </div>
          <input type="text" class="form-control mb-3" id="name" name="visitor_name" placeholder="Ihr Name">
          <input type="email" class="form-control mb-3" id="mail" name="visitor_email" placeholder="Ihre E-Mail Adresse">
          <input type="text" class="form-control mb-3" id="subject" name="email_title" placeholder="Betreff">
          <textarea name="visitor_message" id="message" class="form-control mb-3" placeholder="Nachricht"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
        </form>
      </div>
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<section class="section pt-0 bg-gray">
    <div class="container">
      <div id="map">
        <script src="/js/map.js"></script>
      </div>
    </div>
</section>

{{ end }}
